.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.main_menu {
  position: relative;
  z-index: 110;
  background: #3498db;
  color: #ffffff;
  line-height: 42px;
  font-family: 'Archivo Narrow', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main_menu li {
  float: left;
  position: relative;
}
.main_menu li:hover ul {
  display: block;
}
.main_menu > li:first-child > a {
  font-size: 0;
}
.main_menu > li:first-child > a:before {
  content: "\e000";
  font-size: 14px;
  font-family: 'flexkit-icons';
  vertical-align: middle;
}
.main_menu a {
  display: block;
  padding: 0 16px;
  color: inherit;
  font-size: 1.15em;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main_menu a:hover {
  background: #217dbb;
  color: #ffffff;
}
.main_menu a.current {
  background: #217dbb;
  color: #ffffff;
}
.main_menu ul {
  position: absolute;
  left: 0;
  z-index: 0;
  display: none;
  width: 300px;
  background: #3498db;
  color: #ffffff;
  border-top: 4px solid #2386c8;
}
.main_menu ul.open {
  display: block !important;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li a:hover {
  background: #217dbb;
  color: #ffffff;
}
.main_menu ul li a.current {
  background: #217dbb;
  color: #ffffff;
}
.static_menu {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.static_menu li {
  float: left;
}
.static_menu li:before {
  content: "/";
  padding: 0 8px;
}
.static_menu li:first-child:before {
  content: none;
}
.static_menu li a {
  color: inherit;
}
.static_menu li a.current,
.static_menu li a:hover {
  color: #196090;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-left: 2%;
  margin-right: 0;
  width: 49%;
  margin-bottom: 30px;
  position: relative;
  background: #ffffff;
}
.featureapage:nth-child(2n + 1),
.featureditem li:nth-child(2n + 1),
.relatedpages li:nth-child(2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-child(n),
  .featureditem li:nth-child(n),
  .relatedpages li:nth-child(n) {
    margin-left: 2%;
  }
  .featureapage:nth-child(2n + 1),
  .featureditem li:nth-child(2n + 1),
  .relatedpages li:nth-child(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-child(1n + 1),
  .featureditem li:nth-child(1n + 1),
  .relatedpages li:nth-child(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.featureditem .page-teaser-image {
  margin-bottom: 1em;
}
.featureditem a.page-title {
  text-align: center;
  margin: 8px 0;
}
.featureditem span {
  height: 92px;
  margin: 15px;
  font-size: 0.95em;
}
.presentable .featureditem li {
  background-color: #FFF;
  margin-left: 3%;
  margin-right: 0;
  width: 31.33333333%;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.presentable .featureditem li:nth-child( 3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .presentable .featureditem li {
    width: 48.5%;
  }
  .presentable .featureditem li:nth-child(n) {
    margin-left: 3%;
  }
  .presentable .featureditem li:nth-child( 2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .presentable .featureditem li {
    width: 100%;
  }
  .presentable .featureditem li:nth-child( 1n + 1) {
    margin-left: 0;
  }
}
.presentable .featureditem li:hover .page-teaser-image {
  border-color: #555555;
}
.presentable .featureditem li:hover .page-title {
  color: #555555;
}
.presentable .featureditem .page-title {
  text-align: center;
  margin: 20px 12px;
  font-family: 'Archivo Narrow', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.presentable .featureditem .page-teaser-image {
  overflow: hidden;
}
.presentable .featureditem span {
  margin: 15px;
  overflow: hidden;
  height: 63px;
  font-size: 14px;
}
.featureapage {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage {
    width: 98%;
  }
}
#Email.featureditem li .page-teaser-image {
  display: block;
  height: 150px;
  line-height: 150px;
  background: #f5f5f5;
}
#Email.featureditem li .page-title {
  height: 30px;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
.sidebar .listpages li,
.sidebar .listcategories li,
.sidebar .featureditem li,
.sidebar .featureapage,
.sidebar .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
.sidebar .listpages li .page-teaser-image,
.sidebar .listcategories li .page-teaser-image,
.sidebar .featureditem li .page-teaser-image,
.sidebar .featureapage .page-teaser-image,
.sidebar .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
.sidebar .listpages li span,
.sidebar .listcategories li span,
.sidebar .featureditem li span,
.sidebar .featureapage span,
.sidebar .relatedpages li span,
.sidebar .listpages li p,
.sidebar .listcategories li p,
.sidebar .featureditem li p,
.sidebar .featureapage p,
.sidebar .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.sitemap {
  zoom: 1;
}
.sitemap > li {
  padding-left: 1em;
  font-size: 1.25em;
}
.sitemap > li a {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative;
  left: 0;
}
.sitemap > li a:hover {
  left: 10px;
}
.sitemap > li:before {
  float: left;
  color: #3498db;
  margin-left: -1em;
  font-family: 'flexkit-icons';
  content: '\e0c3';
}
.sitemap ul {
  padding-left: 1em;
}
.sitemap ul li a {
  font-size: 0.85em;
}
.listxrss li {
  margin-bottom: 20px;
}
.listxrss a {
  display: block;
  margin-bottom: 1em;
}
.listxrss a ~ a {
  float: left;
  margin-right: 2%;
}
#left .listxrss a ~ a,
#right .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.listxrss span {
  display: block;
  font-size: 0.75em;
  color: #7c7c7c;
  margin-bottom: 1em;
}
#left .listxrss p,
#right .listxrss p {
  font-size: 0.85em;
}
#content .news-list {
  font-size: 0;
}
#content .news-list >* {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
footer .news-list {
  margin-top: 0;
  margin-bottom: 0;
}
.news-list .news-list-item,
.news-list .news-item {
  margin-bottom: 2%;
  float: left;
}
#content .news-list .news-list-item,
#content .news-list .news-item {
  background-color: #ffffff;
  margin-left: 2%;
  margin-right: 0;
  width: 49%;
}
#content .news-list .news-list-item:nth-child( 2n + 1),
#content .news-list .news-item:nth-child( 2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  #content .news-list .news-list-item,
  #content .news-list .news-item {
    width: 49%;
  }
  #content .news-list .news-list-item:nth-child(n),
  #content .news-list .news-item:nth-child(n) {
    margin-left: 2%;
  }
  #content .news-list .news-list-item:nth-child( 2n + 1),
  #content .news-list .news-item:nth-child( 2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  #content .news-list .news-list-item,
  #content .news-list .news-item {
    width: 100%;
  }
  #content .news-list .news-list-item:nth-child( 1n + 1),
  #content .news-list .news-item:nth-child( 1n + 1) {
    margin-left: 0;
  }
}
.news-list .page-teaser-image {
  width: 100% !important;
  display: block;
  position: relative;
  height: 140px;
  overflow: hidden;
  margin-bottom: 12px;
}
.news-list .page-teaser-image img {
  width: 100%;
  position: absolute;
  left: 0;
  top: -25%;
}
.news-list .news-description {
  margin: 0 12px 8px;
  height: 83px;
  overflow: hidden;
}
footer .news-list .news-description {
  overflow: hidden;
  height: 34px;
}
.news-list .page-title,
.news-list .news-title {
  margin: 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
footer .news-list .page-title,
footer .news-list .news-title {
  display: inline-block;
  vertical-align: top;
  font-size: 1.25em;
  margin: -2px 0 5px;
}
footer .news-list .page-title:hover,
footer .news-list .news-title:hover {
  color: #3498db;
}
.news-list .news-date,
.news-list .news-item-date {
  font-size: 0.85em;
  margin: 0 12px;
  color: #888888;
}
.news-list .news-date:before,
.news-list .news-item-date:before {
  top: 2px;
  font-size: 16px;
  color: #3498db;
}
footer .news-list .news-date,
footer .news-list .news-item-date {
  background-color: #eeeeee;
  float: left;
  padding: 8px 12px;
  font-size: 1.25em;
  text-align: center;
  width: 12%;
  margin-right: 3%;
  margin-left: 0;
}
.news-list .news-item-tags a,
.news-list .news-tags a {
  color: #888888;
}
.news-list .news-item-tags a:hover,
.news-list .news-tags a:hover {
  color: #3c3c3c;
}
.news-list .news-item-tags a + a,
.news-list .news-tags a + a {
  margin-left: 0.5em;
}
.news-list .news-item-tags a:before,
.news-list .news-tags a:before {
  color: #888888;
  margin-right: 0.5em;
}
.news-list .newslog-admin-actions {
  text-align: right;
}
.news-list .news-list-pagination {
  width: 100%;
}
.news-list .news-list-pagination a,
.news-list .news-list-pagination span {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  line-height: 2.5em;
  padding: 0 1em;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  border-color: #0b5bbc;
  background-color: #3498db;
  border: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.news-list .news-list-pagination a:hover,
.news-list .news-list-pagination span:hover,
.news-list .news-list-pagination a:active,
.news-list .news-list-pagination span:active,
.news-list .news-list-pagination a.active,
.news-list .news-list-pagination span.active {
  color: #ffffff;
  border-color: #08438c;
  background-color: #217dbb;
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
.breadcrumbs {
  color: #555555;
}
.breadcrumbs a {
  color: #3498db;
}
.breadcrumbs a:hover {
  color: #196090;
}
@media only screen and (max-width: 800px) {
  .top-block {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    height: 43.75px;
    line-height: 43.75px;
    color: #ffffff;
    background: #3498db;
    -webkit-box-shadow: 0 0 7px #555555;
    -moz-box-shadow: 0 0 7px #555555;
    box-shadow: 0 0 7px #555555;
  }
  .top-block ~ header,
  .top-block ~ * header {
    margin-top: 54.6875px;
  }
  .bottom-block {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 43.75px;
    line-height: 43.75px;
    color: #ffffff;
    background: #3498db;
    -webkit-box-shadow: 0 0 7px #555555;
    -moz-box-shadow: 0 0 7px #555555;
    box-shadow: 0 0 7px #555555;
  }
  .bottom-block ~ header,
  .bottom-block ~ * header {
    margin-top: 54.6875px;
  }
  .mobile-overlay {
    position: fixed;
    top: 43.75px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .mobile-overlay.open {
    display: block;
  }
  .mobile-menu {
    float: none;
    max-width: none;
    height: auto;
    text-align: left;
    margin: 0 !important;
    line-height: 43.75px;
    position: fixed;
    z-index: 99;
    top: 43.75px;
    bottom: 0;
    left: 0;
    overflow: auto;
    width: 300px;
    background: #3498db;
    color: #ffffff;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .mobile-menu a:hover,
  .mobile-menu a.current {
    background: #258cd1;
    color: #ffffff;
  }
  .mobile-menu > * ul {
    width: auto;
    position: static;
    display: none !important;
    background: #ffffff;
    color: #555555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mobile-menu > * ul a:hover,
  .mobile-menu > * ul a.current {
    background: #f2f2f2;
    color: #555555;
  }
  .mobile-menu > * ul.open {
    display: block !important;
  }
  .mobile-menu li {
    float: none;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu li li {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu.top,
  .mobile-menu.bottom {
    right: 0;
    width: auto;
    height: auto;
  }
  .mobile-menu.top {
    bottom: auto;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    top: auto;
    bottom: 43.75px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.right {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .mobile-menu.open {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .mobile-menu.open.top,
  .mobile-menu.open.bottom {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .mobile-menu.open.right {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .sub-menu-btn {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000');
    zoom: 1 !important;
  }
  .sub-menu-btn:hover,
  .sub-menu-btn.active {
    background: rgba(0, 0, 0, 0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000');
    zoom: 1 !important;
  }
  .dropdown-overlay {
    background: rgba(255, 255, 255, 0);
  }
  .dropdown-menu {
    background: #3498db !important;
    position: fixed;
    z-index: 99;
    width: 300px;
    max-width: 90%;
    max-height: 70%;
    display: none;
    border: 2px solid #258cd1;
    margin: 0 !important;
    overflow: auto;
    -webkit-box-shadow: 0 2px 10px #555555;
    -moz-box-shadow: 0 2px 10px #555555;
    box-shadow: 0 2px 10px #555555;
  }
  .dropdown-menu.open {
    display: block;
  }
  .dropdown-menu.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
  }
  .dropdown-menu.top {
    top: 46.75px;
    bottom: auto;
  }
  .dropdown-menu.bottom {
    bottom: 46.75px;
    top: auto;
  }
  .dropdown-menu.right {
    right: 5px;
    left: auto;
  }
  .dropdown-menu.left {
    left: 5px;
    right: auto;
  }
}
