@import "http://fonts.googleapis.com/css?family=Asap:400,700|Source+Sans+Pro:400,300,600,700";
@font-face {
  font-family: "toaster-icons";
  src: url("../fonts/icons/toaster-icons.eot");
  src: url("../fonts/icons/toaster-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/toaster-icons.svg#toaster-icons") format("svg"), url("../fonts/icons/toaster-icons.woff") format("woff"), url("../fonts/icons/toaster-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  font-family: "Source Sans Pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.428571429;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: visible;
  -ms-backface-visibility: hidden;
}
.primary {
  color: #ea6758;
}
a.primary:hover {
  color: #da2f1b;
}
.green {
  color: #2ecc71;
}
a.green:hover {
  color: #208e4e;
}
.orange {
  color: #e67e22;
}
a.orange:hover {
  color: #a85913;
}
.red {
  color: #e74c3c;
}
a.red:hover {
  color: #bf2718;
}
.blue {
  color: #3498db;
}
a.blue:hover {
  color: #1d6fa5;
}
.larger {
  font-size: 1.5em;
}
.large {
  font-size: 1.25em;
}
.small {
  font-size: 0.85em;
}
.mini {
  font-size: 0.75em;
}
a {
  color: #ea6758;
  text-decoration: none;
}
a:hover {
  color: #c32a19;
}
a:active {
  color: #c32a19;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Asap", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  color: #ea6758;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
.slide .description h1,
.slide .description h2,
.slide .description h3,
.slide .description h4,
.slide .description h5,
.slide .description h6,
.slide .description .h1,
.slide .description .h2,
.slide .description .h3,
.slide .description .h4,
.slide .description .h5,
.slide .description .h6 {
  color: #fcfcfc;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer .h1,
footer .h2,
footer .h3,
footer .h4,
footer .h5,
footer .h6 {
  color: #404040;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
.h1:empty,
.h2:empty,
.h3:empty,
.h4:empty,
.h5:empty,
.h6:empty {
  display: none;
}
h1,
.h1 {
  font-size: 2.25em;
  margin-top: 0;
}
h2,
.h2 {
  font-size: 1.75em;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: 0.875em;
}
h6,
.h6 {
  font-size: 0.75em;
}
.subtitle {
  font-size: 0.75em;
  color: #b1b1b1;
}
p + p {
  margin-top: 1.5em;
}
p img {
  margin: 0;
}
blockquote {
  font-size: 1.25em;
  font-style: italic;
  margin: 1em 0 2em;
  padding: 3em 1em;
  color: #5a5a5a;
  text-align: center;
}
blockquote:before,
blockquote:after {
  font-family: 'toaster-icons';
  font-size: 4em;
  line-height: 1em;
  margin-top: -0.7em;
  color: #eaeaea;
}
blockquote:after {
  float: right;
  content: "201c";
  content: "\e074";
  margin-top: -0.35em;
}
blockquote:before {
  float: left;
  content: "201e";
  content: "\e073";
  margin-right: 0.5em;
}
ul,
ol {
  margin-left: 2.5em;
  margin-bottom: 1.5em;
  list-style-position: inside;
}
ul ol,
ol ol,
ul ul,
ol ul {
  margin: 0.3em 0 1em 2.5em;
  font-size: 0.9em;
}
ul li,
ol li {
  margin-bottom: 0.3em;
}
ul.list-unstyled,
ol.list-unstyled {
  list-style-type: none;
}
ul.list-unstyled:not([class*="ml"]):not([class*="grid_"]),
ol.list-unstyled:not([class*="ml"]):not([class*="grid_"]) {
  margin-left: 0;
}
ul.list-inline,
ol.list-inline {
  list-style-type: none;
}
ul.list-inline:not([class*="ml"]):not([class*="grid_"]),
ol.list-inline:not([class*="ml"]):not([class*="grid_"]) {
  margin-left: 0;
}
ul.list-inline > li,
ol.list-inline > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em;
}
ul.list-bordered,
ol.list-bordered {
  list-style-type: none;
}
ul.list-bordered:not([class*="ml"]):not([class*="grid_"]),
ol.list-bordered:not([class*="ml"]):not([class*="grid_"]) {
  margin-left: 0;
}
ul.list-bordered > li,
ol.list-bordered > li {
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
footer ul.list-bordered > li,
footer ol.list-bordered > li {
  border-color: inherit;
}
ul.list-arrow,
ol.list-arrow {
  list-style-type: none;
}
ul.list-arrow:not([class*="ml"]):not([class*="grid_"]),
ol.list-arrow:not([class*="ml"]):not([class*="grid_"]) {
  margin-left: 0;
}
ul.list-arrow > li,
ol.list-arrow > li {
  padding-left: 1em;
}
ul.list-arrow > li:before,
ol.list-arrow > li:before {
  vertical-align: top;
  color: inherit;
  content: '>';
  margin-left: -1em;
  font-family: 'toaster-icons';
  content: '\e0c3';
}
ul.list-arrow > li:hover:before,
ol.list-arrow > li:hover:before {
  color: #ea6758;
}
ul.list-count-sign,
ol.list-count-sign {
  list-style-type: none;
  counter-reset: list;
}
ul.list-count-sign:not([class*="ml"]):not([class*="grid_"]),
ol.list-count-sign:not([class*="ml"]):not([class*="grid_"]) {
  margin-left: 0;
}
ul.list-count-sign > li,
ol.list-count-sign > li {
  margin-bottom: 0.5em;
  padding-left: 3em;
  line-height: 2em;
}
ul.list-count-sign > li:before,
ol.list-count-sign > li:before {
  display: inline-block;
  vertical-align: middle;
  counter-increment: list;
  content: counter(list);
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: #fcfcfc;
  margin-left: -3em;
  margin-right: 1em;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}
ul.list-count-sign > li:hover:before,
ol.list-count-sign > li:hover:before {
  background: #ea6758;
  color: #ffffff;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-latin;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 0.75em;
}
dl dd + dd {
  margin-top: -0.5em;
}
dl.horizontal dt {
  float: left;
  width: 35%;
  clear: left;
  text-align: right;
}
dl.horizontal dd {
  margin-left: 37%;
}
table {
  width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 6px 12px;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
table th {
  text-align: left;
  vertical-align: bottom;
  border-top: 0;
}
table td:first-child {
  vertical-align: top;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
table table {
  background-color: #f9f9f9;
}
table.small th,
table.small td {
  padding: 5px;
}
table.large th,
table.large td {
  padding: 10px;
}
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  border-left: 0;
}
.table-bordered tr > th,
.table-bordered tr > td {
  border-left: 1px solid #dddddd;
}
.table-striped tr > td {
  border-top: 0;
}
.table-striped tr:nth-child(odd) > td {
  background-color: #fcfcfc;
}
table tr > td.primary,
table tr > th.primary,
table tr.primary > td {
  color: #404040;
  background-color: #fdf8f8;
  border-color: #e8c4c0;
  border-bottom: 1px solid #e8c4c0;
}
table tr > td.green,
table tr > th.green,
table tr.green > td {
  color: #404040;
  background-color: #d8efc1;
  border-color: #b4d892;
  border-bottom: 1px solid #b4d892;
}
table tr > td.red,
table tr > th.red,
table tr.red > td {
  color: #404040;
  background-color: #f9bcc3;
  border-color: #f09da7;
  border-bottom: 1px solid #f09da7;
}
table tr > td.orange,
table tr > th.orange,
table tr.orange > td {
  color: #404040;
  background-color: #feebb7;
  border-color: #e7d195;
  border-bottom: 1px solid #e7d195;
}
table tr > td.blue,
table tr > th.blue,
table tr.blue > td {
  color: #404040;
  background-color: #b8e1f1;
  border-color: #a1c7d5;
  border-bottom: 1px solid #a1c7d5;
}
img[style*="float: left"],
img[style*="float:left"] {
  margin-right: 15px;
}
img[style*="float: right"],
img[style*="float:right"] {
  margin-left: 15px;
}
.img-thumbnail img,
img.img-thumbnail {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #eaeaea;
}
.img-thumbnail img:hover,
img.img-thumbnail:hover {
  border-color: #ea6758;
}
.img-circle img,
img.img-circle {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  border: 1px solid #eaeaea;
}
.img-circle img:hover,
img.img-circle:hover {
  border-color: #ea6758;
}
.img-rounded img,
img.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
[class*="caption"] {
  text-align: center;
  color: #ffffff;
  font-size: 0.85em;
  padding: 4px;
  background: rgba(234, 103, 88, 0.8);
}
.btn,
button,
[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding: 6px 12px;
  height: 30px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
  color: #ffffff;
  background-color: #ea6758;
}
.btn:hover,
button:hover,
[type="submit"]:hover,
.btn:active,
button:active,
[type="submit"]:active {
  color: #ffffff;
  background-color: #e43e2b;
}
.btn:active,
button:active,
[type="submit"]:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
  box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
}
.btn.disabled,
button.disabled,
[type="submit"].disabled,
.btn[disabled],
button[disabled],
[type="submit"][disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #ce7d74;
  text-decoration: none;
}
.btn:not(.icon),
button:not(.icon),
[type="submit"]:not(.icon) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn[class*="grid_"],
button[class*="grid_"],
[type="submit"][class*="grid_"] {
  padding-left: 0;
  padding-right: 0;
}
.btn[class*="icon-"]:not(.icon):not(:empty):before,
button[class*="icon-"]:not(.icon):not(:empty):before,
[type="submit"][class*="icon-"]:not(.icon):not(:empty):before {
  margin-right: 5px;
}
.btn.inverse,
button.inverse,
[type="submit"].inverse {
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.inverse:hover,
button.inverse:hover,
[type="submit"].inverse:hover,
.btn.inverse:active,
button.inverse:active,
[type="submit"].inverse:active {
  color: #ffffff;
  background-color: #ea6758;
}
.btn.inverse:active,
button.inverse:active,
[type="submit"].inverse:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
  box-shadow: 0.2em 0.2em 0.4em #ad2516 inset;
}
.btn.inverse.disabled,
button.inverse.disabled,
[type="submit"].inverse.disabled,
.btn.inverse[disabled],
button.inverse[disabled],
[type="submit"].inverse[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.orange,
button.orange,
[type="submit"].orange {
  color: #ffffff;
  background-color: #e67e22;
}
.btn.orange:hover,
button.orange:hover,
[type="submit"].orange:hover,
.btn.orange:active,
button.orange:active,
[type="submit"].orange:active {
  color: #ffffff;
  background-color: #bf6516;
}
.btn.orange:active,
button.orange:active,
[type="submit"].orange:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
  box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
}
.btn.orange.disabled,
button.orange.disabled,
[type="submit"].orange.disabled,
.btn.orange[disabled],
button.orange[disabled],
[type="submit"].orange[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #c18047;
  text-decoration: none;
}
.btn.inverse-orange,
button.inverse-orange,
[type="submit"].inverse-orange {
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.inverse-orange:hover,
button.inverse-orange:hover,
[type="submit"].inverse-orange:hover,
.btn.inverse-orange:active,
button.inverse-orange:active,
[type="submit"].inverse-orange:active {
  color: #ffffff;
  background-color: #e67e22;
}
.btn.inverse-orange:active,
button.inverse-orange:active,
[type="submit"].inverse-orange:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
  box-shadow: 0.2em 0.2em 0.4em #7b410e inset;
}
.btn.inverse-orange.disabled,
button.inverse-orange.disabled,
[type="submit"].inverse-orange.disabled,
.btn.inverse-orange[disabled],
button.inverse-orange[disabled],
[type="submit"].inverse-orange[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.red,
button.red,
[type="submit"].red {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn.red:hover,
button.red:hover,
[type="submit"].red:hover,
.btn.red:active,
button.red:active,
[type="submit"].red:active {
  color: #ffffff;
  background-color: #d62c1a;
}
.btn.red:active,
button.red:active,
[type="submit"].red:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
  box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
}
.btn.red.disabled,
button.red.disabled,
[type="submit"].red.disabled,
.btn.red[disabled],
button.red[disabled],
[type="submit"].red[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #c6675d;
  text-decoration: none;
}
.btn.inverse-red,
button.inverse-red,
[type="submit"].inverse-red {
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.inverse-red:hover,
button.inverse-red:hover,
[type="submit"].inverse-red:hover,
.btn.inverse-red:active,
button.inverse-red:active,
[type="submit"].inverse-red:active {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn.inverse-red:active,
button.inverse-red:active,
[type="submit"].inverse-red:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
  box-shadow: 0.2em 0.2em 0.4em #921e12 inset;
}
.btn.inverse-red.disabled,
button.inverse-red.disabled,
[type="submit"].inverse-red.disabled,
.btn.inverse-red[disabled],
button.inverse-red[disabled],
[type="submit"].inverse-red[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.green,
button.green,
[type="submit"].green {
  color: #ffffff;
  background-color: #2ecc71;
}
.btn.green:hover,
button.green:hover,
[type="submit"].green:hover,
.btn.green:active,
button.green:active,
[type="submit"].green:active {
  color: #ffffff;
  background-color: #25a25a;
}
.btn.green:active,
button.green:active,
[type="submit"].green:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  box-shadow: 0.2em 0.2em 0.4em #176437 inset;
}
.btn.green.disabled,
button.green.disabled,
[type="submit"].green.disabled,
.btn.green[disabled],
button.green[disabled],
[type="submit"].green[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #53a777;
  text-decoration: none;
}
.btn.inverse-green,
button.inverse-green,
[type="submit"].inverse-green {
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.inverse-green:hover,
button.inverse-green:hover,
[type="submit"].inverse-green:hover,
.btn.inverse-green:active,
button.inverse-green:active,
[type="submit"].inverse-green:active {
  color: #ffffff;
  background-color: #2ecc71;
}
.btn.inverse-green:active,
button.inverse-green:active,
[type="submit"].inverse-green:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #176437 inset;
  box-shadow: 0.2em 0.2em 0.4em #176437 inset;
}
.btn.inverse-green.disabled,
button.inverse-green.disabled,
[type="submit"].inverse-green.disabled,
.btn.inverse-green[disabled],
button.inverse-green[disabled],
[type="submit"].inverse-green[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.blue,
button.blue,
[type="submit"].blue {
  color: #ffffff;
  background-color: #3498db;
}
.btn.blue:hover,
button.blue:hover,
[type="submit"].blue:hover,
.btn.blue:active,
button.blue:active,
[type="submit"].blue:active {
  color: #ffffff;
  background-color: #217dbb;
}
.btn.blue:active,
button.blue:active,
[type="submit"].blue:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #16527a inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #16527a inset;
  box-shadow: 0.2em 0.2em 0.4em #16527a inset;
}
.btn.blue.disabled,
button.blue.disabled,
[type="submit"].blue.disabled,
.btn.blue[disabled],
button.blue[disabled],
[type="submit"].blue[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #5891b7;
  text-decoration: none;
}
.btn.inverse-blue,
button.inverse-blue,
[type="submit"].inverse-blue {
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.inverse-blue:hover,
button.inverse-blue:hover,
[type="submit"].inverse-blue:hover,
.btn.inverse-blue:active,
button.inverse-blue:active,
[type="submit"].inverse-blue:active {
  color: #ffffff;
  background-color: #3498db;
}
.btn.inverse-blue:active,
button.inverse-blue:active,
[type="submit"].inverse-blue:active {
  -webkit-box-shadow: 0.2em 0.2em 0.4em #16527a inset;
  -moz-box-shadow: 0.2em 0.2em 0.4em #16527a inset;
  box-shadow: 0.2em 0.2em 0.4em #16527a inset;
}
.btn.inverse-blue.disabled,
button.inverse-blue.disabled,
[type="submit"].inverse-blue.disabled,
.btn.inverse-blue[disabled],
button.inverse-blue[disabled],
[type="submit"].inverse-blue[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  background-color: #eaeaea;
  text-decoration: none;
}
.btn.larger,
button.larger,
[type="submit"].larger {
  padding: 12px 18px;
  height: 51px;
  line-height: 27px;
}
.btn.large,
button.large,
[type="submit"].large {
  padding: 10px 16px;
  height: 43px;
  line-height: 23px;
}
.btn.small,
button.small,
[type="submit"].small {
  padding: 4px 8px;
  height: 23px;
  line-height: 15px;
}
.btn.mini,
button.mini,
[type="submit"].mini {
  padding: 2px 6px;
  height: 17px;
  line-height: 13px;
}
.btn.block,
button.block,
[type="submit"].block {
  float: none;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.btn.block:not([class*="grid_"]),
button.block:not([class*="grid_"]),
[type="submit"].block:not([class*="grid_"]) {
  width: 100%;
}
.btn.block + .block:not([class*="grid_"]):not([class*="mt"]),
button.block + .block:not([class*="grid_"]):not([class*="mt"]),
[type="submit"].block + .block:not([class*="grid_"]):not([class*="mt"]) {
  margin-top: 5px;
}
.btn.icon,
button.icon,
[type="submit"].icon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
  padding: 7px;
}
.btn.icon:before,
button.icon:before,
[type="submit"].icon:before {
  font-size: 16px;
}
.btn.icon[class*="grid_"],
button.icon[class*="grid_"],
[type="submit"].icon[class*="grid_"] {
  padding-left: 0;
  padding-right: 0;
}
.btn.icon.large,
button.icon.large,
[type="submit"].icon.large {
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 0;
  padding: 12px;
}
.btn.icon.large:before,
button.icon.large:before,
[type="submit"].icon.large:before {
  font-size: 19px;
}
.btn.icon.small,
button.icon.small,
[type="submit"].icon.small {
  width: 11px;
  height: 11px;
  line-height: 11px;
  font-size: 0;
  padding: 6px;
}
.btn.icon.small:before,
button.icon.small:before,
[type="submit"].icon.small:before {
  font-size: 11px;
}
.btn.link,
button.link,
[type="submit"].link {
  padding: 0;
  text-decoration: underline;
  color: #ea6758;
  background-color: transparent;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: #962013;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.disabled,
button.link.disabled,
[type="submit"].link.disabled,
.btn.link[disabled],
button.link[disabled],
[type="submit"].link[disabled] {
  color: #ce7d74;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:active,
button.link:active,
[type="submit"].link:active {
  color: true;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.disabled,
button.link.disabled,
[type="submit"].link.disabled,
.btn.link[disabled],
button.link[disabled],
[type="submit"].link[disabled] {
  color: #ce7d74;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link:hover,
button.link:hover,
[type="submit"].link:hover,
.btn.link:focus,
button.link:focus,
[type="submit"].link:focus {
  color: #c32a19;
  text-decoration: none;
}
.btn.link.inverse,
button.link.inverse,
[type="submit"].link.inverse {
  color: #404040;
  background-color: transparent;
}
.btn.link.inverse:hover,
button.link.inverse:hover,
[type="submit"].link.inverse:hover,
.btn.link.inverse:active,
button.link.inverse:active,
[type="submit"].link.inverse:active {
  color: #ea6758;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse.disabled,
button.link.inverse.disabled,
[type="submit"].link.inverse.disabled,
.btn.link.inverse[disabled],
button.link.inverse[disabled],
[type="submit"].link.inverse[disabled] {
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.orange,
button.link.orange,
[type="submit"].link.orange {
  color: #e67e22;
  background-color: transparent;
}
.btn.link.orange:hover,
button.link.orange:hover,
[type="submit"].link.orange:hover,
.btn.link.orange:active,
button.link.orange:active,
[type="submit"].link.orange:active {
  color: #64350b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.orange.disabled,
button.link.orange.disabled,
[type="submit"].link.orange.disabled,
.btn.link.orange[disabled],
button.link.orange[disabled],
[type="submit"].link.orange[disabled] {
  color: #c18047;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-orange,
button.link.inverse-orange,
[type="submit"].link.inverse-orange {
  color: #404040;
  background-color: transparent;
}
.btn.link.inverse-orange:hover,
button.link.inverse-orange:hover,
[type="submit"].link.inverse-orange:hover,
.btn.link.inverse-orange:active,
button.link.inverse-orange:active,
[type="submit"].link.inverse-orange:active {
  color: #e67e22;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-orange.disabled,
button.link.inverse-orange.disabled,
[type="submit"].link.inverse-orange.disabled,
.btn.link.inverse-orange[disabled],
button.link.inverse-orange[disabled],
[type="submit"].link.inverse-orange[disabled] {
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.red,
button.link.red,
[type="submit"].link.red {
  color: #e74c3c;
  background-color: transparent;
}
.btn.link.red:hover,
button.link.red:hover,
[type="submit"].link.red:hover,
.btn.link.red:active,
button.link.red:active,
[type="submit"].link.red:active {
  color: #7b190f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.red.disabled,
button.link.red.disabled,
[type="submit"].link.red.disabled,
.btn.link.red[disabled],
button.link.red[disabled],
[type="submit"].link.red[disabled] {
  color: #c6675d;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-red,
button.link.inverse-red,
[type="submit"].link.inverse-red {
  color: #404040;
  background-color: transparent;
}
.btn.link.inverse-red:hover,
button.link.inverse-red:hover,
[type="submit"].link.inverse-red:hover,
.btn.link.inverse-red:active,
button.link.inverse-red:active,
[type="submit"].link.inverse-red:active {
  color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-red.disabled,
button.link.inverse-red.disabled,
[type="submit"].link.inverse-red.disabled,
.btn.link.inverse-red[disabled],
button.link.inverse-red[disabled],
[type="submit"].link.inverse-red[disabled] {
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.green,
button.link.green,
[type="submit"].link.green {
  color: #2ecc71;
  background-color: transparent;
}
.btn.link.green:hover,
button.link.green:hover,
[type="submit"].link.green:hover,
.btn.link.green:active,
button.link.green:active,
[type="submit"].link.green:active {
  color: #124f2c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.green.disabled,
button.link.green.disabled,
[type="submit"].link.green.disabled,
.btn.link.green[disabled],
button.link.green[disabled],
[type="submit"].link.green[disabled] {
  color: #53a777;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-green,
button.link.inverse-green,
[type="submit"].link.inverse-green {
  color: #404040;
  background-color: transparent;
}
.btn.link.inverse-green:hover,
button.link.inverse-green:hover,
[type="submit"].link.inverse-green:hover,
.btn.link.inverse-green:active,
button.link.inverse-green:active,
[type="submit"].link.inverse-green:active {
  color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-green.disabled,
button.link.inverse-green.disabled,
[type="submit"].link.inverse-green.disabled,
.btn.link.inverse-green[disabled],
button.link.inverse-green[disabled],
[type="submit"].link.inverse-green[disabled] {
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.blue,
button.link.blue,
[type="submit"].link.blue {
  color: #3498db;
  background-color: transparent;
}
.btn.link.blue:hover,
button.link.blue:hover,
[type="submit"].link.blue:hover,
.btn.link.blue:active,
button.link.blue:active,
[type="submit"].link.blue:active {
  color: #124364;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.blue.disabled,
button.link.blue.disabled,
[type="submit"].link.blue.disabled,
.btn.link.blue[disabled],
button.link.blue[disabled],
[type="submit"].link.blue[disabled] {
  color: #5891b7;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-blue,
button.link.inverse-blue,
[type="submit"].link.inverse-blue {
  color: #404040;
  background-color: transparent;
}
.btn.link.inverse-blue:hover,
button.link.inverse-blue:hover,
[type="submit"].link.inverse-blue:hover,
.btn.link.inverse-blue:active,
button.link.inverse-blue:active,
[type="submit"].link.inverse-blue:active {
  color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.link.inverse-blue.disabled,
button.link.inverse-blue.disabled,
[type="submit"].link.inverse-blue.disabled,
.btn.link.inverse-blue[disabled],
button.link.inverse-blue[disabled],
[type="submit"].link.inverse-blue[disabled] {
  color: #404040;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-3d,
button.btn-3d,
[type="submit"].btn-3d {
  -webkit-box-shadow: 0px 0.25em 0px #e43e2b;
  -moz-box-shadow: 0px 0.25em 0px #e43e2b;
  box-shadow: 0px 0.25em 0px #e43e2b;
}
.btn.btn-3d:hover,
button.btn-3d:hover,
[type="submit"].btn-3d:hover,
.btn.btn-3d:active,
button.btn-3d:active,
[type="submit"].btn-3d:active {
  -webkit-box-shadow: 0px 0.25em 0px #c32a19;
  -moz-box-shadow: 0px 0.25em 0px #c32a19;
  box-shadow: 0px 0.25em 0px #c32a19;
}
.btn.btn-3d:active,
button.btn-3d:active,
[type="submit"].btn-3d:active {
  -webkit-box-shadow: 0px 0.2em 0px #e43e2b;
  -moz-box-shadow: 0px 0.2em 0px #e43e2b;
  box-shadow: 0px 0.2em 0px #e43e2b;
  top: 0.05em;
}
[class*="ui-buttonset"],
.btn-set,
.btn-group {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
[class*="ui-buttonset"] .ui-button,
.btn-set .ui-button,
.btn-group .ui-button,
[class*="ui-buttonset"] .btn,
.btn-set .btn,
.btn-group .btn {
  float: left;
}
[class*="ui-buttonset"] .ui-button ~ .btn,
.btn-set .ui-button ~ .btn,
.btn-group .ui-button ~ .btn,
[class*="ui-buttonset"] .btn ~ .btn,
.btn-set .btn ~ .btn,
.btn-group .btn ~ .btn {
  margin-left: 1px;
}
[class*="ui-buttonset"] input:checked + .ui-button,
.btn-set input:checked + .ui-button,
.btn-group input:checked + .ui-button,
[class*="ui-buttonset"] input:checked + .btn,
.btn-set input:checked + .btn,
.btn-group input:checked + .btn {
  opacity: 0.5;
}
hr {
  clear: both;
  margin: 0.75em 0 2em;
  height: 1px;
  background: #eaeaea;
}
